<% if message.read_status(current_user.id) == "unseen" && current_user.id != message.owner.id %>
<li class="unseen">
<% else%>
<li class="seen">
<% end %>
  <span><%= image_tag message.owner.avatar_url %>
    <strong><%= message.owner.username %></strong>
  </span>
  : <%= simple_format(message.content)%>
</li>
